<a href="https://colab.research.google.com/github/sharjeel-png/CP33_TEAM_B_Evoastra_Major_Project/blob/main/Elevate_Labs_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA SET USED - " Customer Personality Analysis "**

**Marketing_campaign.csv(220.19 kB)**

**About this file**

Customer Personality Analysis is a detailed analysis of a companyâ€™s ideal customers. It helps a business to better understand its customers and makes it easier for them to modify products according to the specific needs, behaviors and concerns of different types of customers.

Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the companyâ€™s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.

**ðŸš€ STEP 1 â€” Installing KaggleHub + Importing Libraries**

In [ ]:
# KaggleHub lets you download Kaggle datasets WITHOUT API keys.
# We install it because Colab doesn't include it by default.
!pip install kagglehub

# Import important libraries
import kagglehub  # For dataset download
import pandas as pd  # For data handling
import numpy as np   # For numeric operations
import os            # For file path operations

Requirement already satisfied: kagglehub in /usr/local/lib/python3.12/dist-packages (0.3.13)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2025.11.12)

**ðŸš€ STEP 2 â€” Downloading Dataset from Kaggle**

In [ ]:
# This command automatically downloads the dataset into Colab's temporary storage.
path = kagglehub.dataset_download("imakash3011/customer-personality-analysis")

# printing the folder path KaggleHub created.
print("Dataset downloaded to:", path)

Using Colab cache for faster access to the 'customer-personality-analysis' dataset.
Dataset downloaded to: /kaggle/input/customer-personality-analysis

In [ ]:
# prints the names of files inside this folder.
print("Files inside the folder:", os.listdir(path))

Files inside the folder: ['marketing_campaign.csv']

**ðŸš€ STEP 3 â€” Loading Dataset**

In [ ]:
# The dataset uses TAB as the separator instead of comma or semicolon.
# So we use sep="\t" to correctly split all the columns.
df = pd.read_csv(f"{path}/marketing_campaign.csv", sep="\t", engine='python')

# Display the first 5 rows to confirm correct loading.
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

**ðŸš€ STEP 4 â€” Copying Dataset to Visible Colab Folder**

In [ ]:
# Colab hides the cache folder, so you wonâ€™t see the file in the left panel.
# Copying it to the working directory makes it visible in Colabâ€™s "Files" sidebar.

!cp "{path}/marketing_campaign.csv" .

**UNCOMMENT BELOW CODE TO DOWNLOAD THE DATSET TO LOCAL SYSTEM**

In [ ]:
# from google.colab import files
# files.download("marketing_campaign.csv")

**ðŸš€ STEP 5 â€” Inspect Dataset Structure**

In [ ]:
# Shows number of rows, columns, and data types.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [ ]:
# Shows count of missing values per column.
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [ ]:
# Shows basic statistics for numerical columns.
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

**ðŸš€ STEP 6 â€” Clean & Standardize Column Names**

In [ ]:
# Clean column names to make them easier to work with in Python.
# Steps:
# 1. Convert all column names to lowercase â†’ avoids case issues
# 2. Replace spaces/dashes with underscores â†’ avoids syntax errors
df.columns = (
    df.columns
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("-", "_")
)

# Check the new column names
df.head()

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntwines,...,numwebvisitsmonth,acceptedcmp3,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

**ðŸš€ STEP 7 â€” Handle Missing Values**

In [ ]:
# 'income' contains missing values.
# We fill missing values using the MEDIAN instead of mean:
# - Mean is affected by outliers
# - Median gives a more stable central value

df['income'].fillna(df['income'].median(), inplace=True)

/tmp/ipython-input-3407113179.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['income'].fillna(df['income'].median(), inplace=True)

In [ ]:
# Remove rows where 'dt_customer' is missing.
# Date is essential for customer analysis, so we drop rows missing this value.
# df.dropna(subset=['dt_customer'], inplace=True)

In [ ]:
# Check again to ensure missing values are fixed
df.isnull().sum()

id                     0
year_birth             0
education              0
marital_status         0
income                 0
kidhome                0
teenhome               0
dt_customer            0
recency                0
mntwines               0
mntfruits              0
mntmeatproducts        0
mntfishproducts        0
mntsweetproducts       0
mntgoldprods           0
numdealspurchases      0
numwebpurchases        0
numcatalogpurchases    0
numstorepurchases      0
numwebvisitsmonth      0
acceptedcmp3           0
acceptedcmp4           0
acceptedcmp5           0
acceptedcmp1           0
acceptedcmp2           0
complain               0
z_costcontact          0
z_revenue              0
response               0
dtype: int64

**ðŸš€ STEP 8 â€” Removing Duplicate Records**

In [ ]:
# Remove duplicate rows â€” duplicates can distort analysis.
df.drop_duplicates(inplace=True)

**ðŸš€ STEP 9 â€” Converting Date Column to Datetime Format**

In [ ]:
# Convert the dt_customer column into proper datetime format.
# errors='coerce' converts invalid dates into NaT (missing date).

df['dt_customer'] = pd.to_datetime(df['dt_customer'], errors='coerce')

# Check the result
df['dt_customer'].head()

0   2012-04-09
1   2014-08-03
2          NaT
3   2014-10-02
4          NaT
Name: dt_customer, dtype: datetime64[ns]

**ðŸš€ STEP 10 â€” Remove Invalid Dates (NaT)**
     - These appeared AFTER datetime conversion

In [ ]:

# Count how many invalid dates were created
print("Invalid dates before removing:", df['dt_customer'].isnull().sum())

# Remove rows where dt_customer could not be converted (NaT values)
df = df.dropna(subset=['dt_customer'])

# Confirm removal
print("Invalid dates after removing:", df['dt_customer'].isnull().sum())

Invalid dates before removing: 1324
Invalid dates after removing: 0

In [ ]:
# Checking the result again
df['dt_customer'].head()

0   2012-04-09
1   2014-08-03
3   2014-10-02
5   2013-09-09
7   2013-08-05
Name: dt_customer, dtype: datetime64[ns]

**ðŸš€ STEP 11 â€” Converting Numeric Columns to Correct Types**

In [ ]:
# Columns that should be integers
numeric_columns = ['kidhome', 'teenhome', 'income', 'recency']

# Converting them to integer type
df[numeric_columns] = df[numeric_columns].astype(int)

df.dtypes

id                              int64
year_birth                      int64
education                      object
marital_status                 object
income                          int64
kidhome                         int64
teenhome                        int64
dt_customer            datetime64[ns]
recency                         int64
mntwines                        int64
mntfruits                       int64
mntmeatproducts                 int64
mntfishproducts                 int64
mntsweetproducts                int64
mntgoldprods                    int64
numdealspurchases               int64
numwebpurchases                 int64
numcatalogpurchases             int64
numstorepurchases               int64
numwebvisitsmonth               int64
acceptedcmp3                    int64
acceptedcmp4                    int64
acceptedcmp5                    int64
acceptedcmp1                    int64
acceptedcmp2                    int64
complain                        int64
z_costcontact                   int64
z_revenue                       int64
response                        int64
dtype: object

**ðŸš€ STEP 12 â€” Feature Engineering (Adding useful New Columns)**

In [ ]:
# Adding Customer Age

df['age'] = 2024 - df['year_birth']

In [ ]:
# Add Total Customer Spending

spending_columns = [
    'mntwines',
    'mntfruits',
    'mntmeatproducts',
    'mntfishproducts',
    'mntsweetproducts',
    'mntgoldprods'
]

df['total_spent'] = df[spending_columns].sum(axis=1)

**ðŸš€ STEP 13 â€” Final Dataset Validation**

In [ ]:
print(df.info())       # Check data types

<class 'pandas.core.frame.DataFrame'>
Index: 916 entries, 0 to 2236
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   916 non-null    int64
 1   year_birth           916 non-null    int64
 2   education            916 non-null    object
 3   marital_status       916 non-null    object
 4   income               916 non-null    int64
 5   kidhome              916 non-null    int64
 6   teenhome             916 non-null    int64
 7   dt_customer          916 non-null    datetime64[ns]
 8   recency              916 non-null    int64
 9   mntwines             916 non-null    int64
 10  mntfruits            916 non-null    int64
 11  mntmeatproducts      916 non-null    int64
 12  mntfishproducts      916 non-null    int64
 13  mntsweetproducts     916 non-null    int64
 14  mntgoldprods         916 non-null    int64
 15  numdealspurchases    916 non-null    int64
 16  numwebpurchases      916 non-null    int64
 17  numcatalogpurchases  916 non-null    int64
 18  numstorepurchases    916 non-null    int64
 19  numwebvisitsmonth    916 non-null    int64
 20  acceptedcmp3         916 non-null    int64
 21  acceptedcmp4         916 non-null    int64
 22  acceptedcmp5         916 non-null    int64
 23  acceptedcmp1         916 non-null    int64
 24  acceptedcmp2         916 non-null    int64
 25  complain             916 non-null    int64
 26  z_costcontact        916 non-null    int64
 27  z_revenue            916 non-null    int64
 28  response             916 non-null    int64
 29  age                  916 non-null    int64
 30  total_spent          916 non-null    int64
dtypes: datetime64[ns](1), int64(28), object(2)
memory usage: 229.0+ KB
None

In [ ]:
print(df.isnull().sum())  # Confirm no missing critical values

id                     0
year_birth             0
education              0
marital_status         0
income                 0
kidhome                0
teenhome               0
dt_customer            0
recency                0
mntwines               0
mntfruits              0
mntmeatproducts        0
mntfishproducts        0
mntsweetproducts       0
mntgoldprods           0
numdealspurchases      0
numwebpurchases        0
numcatalogpurchases    0
numstorepurchases      0
numwebvisitsmonth      0
acceptedcmp3           0
acceptedcmp4           0
acceptedcmp5           0
acceptedcmp1           0
acceptedcmp2           0
complain               0
z_costcontact          0
z_revenue              0
response               0
age                    0
total_spent            0
dtype: int64

In [ ]:
df.head()              # Preview cleaned dataset

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntwines,...,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response,age,total_spent
0,5524,1957,Graduation,Single,58138,0,0,2012-04-09,58,635,...,0,0,0,0,0,3,11,1,67,1617
1,2174,1954,Graduation,Single,46344,1,1,2014-08-03,38,11,...,0,0,0,0,0,3,11,0,70,27
3,6182,1984,Graduation,Together,26646,1,0,2014-10-02,26,11,...,0,0,0,0,0,3,11,0,40,53
5,7446,1967,Master,Together,62513,0,1,2013-09-09,16,520,...,0,0,0,0,0,3,11,0,57,716
7,6177,1985,PhD,Married,33454,1,0,2013-08-05,32,76,...,0,0,0,0,0,3,11,0,39,169

**ðŸš€ STEP 14 â€” Saving Cleaned Dataset**

In [ ]:
# Export cleaned dataset to a new CSV file
df.to_csv("cleaned_customer_personality.csv", index=False)

print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!

**ðŸš€ STEP 15 â€” Downloading Cleaned File to Local System**

In [ ]:
# UNCOMMENT BELOW CODE TO DOWNLOAD THE DATSET TO LOCAL SYSTEM

# from google.colab import files
# files.download("cleaned_customer_personality.csv")

# ðŸ“Œ Interview Questions & Answers (Task 1 â€“ Data Cleaning)

1. What are missing values and how do you handle them?

   Missing values are blanks or null entries in a dataset where information is unavailable.
  

    They can be handled by:
- Removing rows or columns with too many missing values
- Imputing using mean, median, or mode
- Forward/Backward filling for time-series data
- Using models to predict missing values

---
2. How do you treat duplicate records?
Duplicate rows can distort analysis. They are treated by:
df.drop_duplicates()
This removes repeated rows and ensures data integrity.

---
3. Difference between dropna() and fillna() in Pandas?
dropna(): Removes rows or columns that contain missing values.
fillna(): Fills missing values with a specific value (mean, median, mode, or constant).
---
4. What is outlier treatment and why is it important?
Outliers are extreme values that deviate significantly from other observations.
Treatment methods:
- IQR method
- Z-score method
- Capping or flooring
Outlier treatment is important because outliers can skew averages, distort models, and produce misleading insights.
---
5. Explain the process of standardizing data.
Standardizing data means converting values into a consistent format. This includes:
- Making text lowercase
- Removing extra spaces
- Converting categories to uniform names (e.g., MALE â†’ male)
- Scaling numeric features (optional)
Helps ensure consistency and avoids errors in analysis.
---
6. How do you handle inconsistent data formats (e.g., date/time)?
- Convert dates using pd.to_datetime()
- Specify format if needed
- Use errors='coerce' to convert invalid dates to NaT
- Standardize all dates into one format (e.g., YYYY-MM-DD)
---
7. What are common data cleaning challenges?
- Missing values
- Duplicate records
- Incorrect data types
- Inconsistent formatting
- Outliers
- Unexpected delimiters or encodings
- Mixed data types within a single column
---
8. How can you check data quality?
- df.info() â†’ Check data types and null counts
- df.describe() â†’ Detect unusual values
- df.isnull().sum() â†’ Check missing values
- df.duplicated().sum() â†’ Count duplicates
- Visual checks for outliers (boxplot)
- Validate ranges (e.g., age, dates)